._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background-color: #ffffff;
  position: relative;
  z-index: 101;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: white;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: none;
  position: relative;
  z-index: 103;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__menu {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 103;
}

.header__link {
  padding: 5px 30px 5px 30px;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #1d1d1d;
}

.header__burger {
  position: relative;
  z-index: 103;
  display: none;
}

@media (max-width: 1000px) {
  .header__link {
    padding: 5px 15px 5px 15px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 0px 5px 0px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  .header::before {
    border-bottom: 1px solid black;
  }

  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .header__logo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 55px;
  }

  .header__main-menu {
    position: fixed;
    overflow: auto;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 75px 20px 20px 20px;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    top: 0;
    left: -100%;
  }

  .header__main-menu.active {
    left: 0;
  }

  .header__menu {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__menu > li:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .header__link {
    height: auto;
    padding: 0px 0px 0px 0px;
    font-size: 28px;
  }

  .header__burger {
    display: block;
    -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
    height: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    left: 0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    top: 46.5%;
    left: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    opacity: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    opacity: 0.94;
    background-color: #05a893;
    color: white;
  }
}