@import url("https://fonts.googleapis.com/css2?family=Prata&family=Sail&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main,
section {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: Century Bold;
  font-display: swap;
  src: url("../fonts/Century Bold.woff2") format("woff2"), url("../fonts/Century Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CENTURY;
  font-display: swap;
  src: url("../fonts/CENTURY.woff2") format("woff2"), url("../fonts/CENTURY.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?cgdh2p");
  src: url("../fonts/icomoon.eot?cgdh2p#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?cgdh2p") format("woff"), url("../fonts/icomoon.svg?cgdh2p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-dwn:before {
  content: "\e900";
}

.icon-double-arr-dwn:before {
  content: "\e901";
}

.icon-arr-r:before {
  content: "\e902";
}

.icon-arr-l:before {
  content: "\e903";
}

.icon-insta:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-youtube:before {
  content: "\e906";
}

.icon-youtube2 .path1:before {
  content: "\e907";
  color: #f44336;
}

.icon-youtube2 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: #fafafa;
}

.icon-facebook:before {
  content: "\e909";
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.error-block {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 6;
  font-weight: 700;
}

.error-block span {
  font-size: 18px;
  color: red;
}

.text {
  font-size: 18px;
  line-height: 155.5555555556%;
  font-weight: 400;
  color: #403f3f;
}

.block-header {
  text-align: center;
}

.block-header__title {
  font-family: "Sail", cursive;
  font-size: 48px;
  line-height: 120.8333333333%;
  font-weight: 400;
  color: #05a893;
  margin: 0px 0px 10px 0px;
}

.block-header__subtitle {
  max-width: 700px;
  margin: 0 auto;
  color: #7a7a7a;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  font-family: "Prata", serif;
}

body._isLocked {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1195px;
  margin: 0px auto;
  padding: 0px 10px;
}

.page__mainslider {
  margin-bottom: 90px;
}

.page__about {
  padding-bottom: 90px;
}

.page__gallery {
  padding-top: 90px;
  padding-bottom: 100px;
}

.page__story {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page__workers {
  padding-top: 85px;
  padding-bottom: 85px;
}

.page__ceremonies {
  padding-top: 95px;
  padding-bottom: 95px;
}

.mainslider {
  position: relative;
  overflow: hidden;
}

.mainslider__slider {
  overflow: hidden;
  height: 880px;
  max-height: 880px;
  position: relative;
}

.mainslider__slider .swiper-button-next,
.mainslider__slider .swiper-button-prev {
  display: none;
}

.mainslider__slide {
  padding: 20px 0px 0px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.mainslider__arrows {
  position: absolute;
  z-index: 5;
  left: 10%;
  bottom: 0;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainslider__arrow {
  background-color: #05a893;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  height: 86px;
  cursor: pointer;
}

.mainslider__arrow::before {
  font-size: 30px;
  color: white;
  display: block;
}

.mainslider__arrow.l {
  border-radius: 36px 0px 0px 0;
  margin: 0px 5px 0px 0px;
}

.mainslider__arrow.l::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mainslider__arrow.r {
  border-radius: 0px 36px 0px 0;
}

.mainslider__arrow.r::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slide-mainslider {
  position: relative;
  z-index: 1;
}

.slide-mainslider__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.slide-mainslider__picture img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-mainslider__social-menu {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #05a893;
  -webkit-box-shadow: 0px 2px 27px 0px rgba(30, 30, 30, 0.2);
          box-shadow: 0px 2px 27px 0px rgba(30, 30, 30, 0.2);
  border-radius: 0px 48px 48px 0px;
  padding: 0px 15px 0px 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-mainslider__social-menu > li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.slide-mainslider__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 58px;
  height: 58px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-mainslider__link::before {
  color: #ffffff;
  font-size: 18px;
}

.slide-mainslider__content {
  padding: 0px 80px 0px 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 4;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slide-mainslider__couple-block {
  overflow: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 671px;
          flex: 0 1 671px;
}

.couple-block__top {
  opacity: 0.9;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(153, 153, 153, 0.27);
          box-shadow: 0px 4px 0px 0px rgba(153, 153, 153, 0.27);
  padding: 0px 20px 0px 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.couple-block__title {
  text-align: center;
  color: #05a893;
  font-size: 66px;
  font-family: "Sail", cursive;
  margin: 0px 0px 20px 0px;
}

.couple-block__subtitle {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  color: #403f3f;
  text-align: center;
  margin-bottom: 55px;
}

.couple-block__location {
  text-align: center;
}

.couple-block__place {
  font-size: 30px;
  font-weight: 400;
  color: #1d1d1d;
  margin: 0px 0px 20px 0px;
}

.couple-block__address {
  font-size: 18px;
  display: block;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.couple-block__bottom {
  background-color: #05a893;
  padding: 45px 20px 45px 20px;
}

.couple-block__bottom-title {
  font-size: 30px;
  line-height: 133.3333333333%;
  text-align: center;
  font-weight: 400;
  color: #fefefe;
  margin: 0px 0px 20px 0px;
  font-family: CENTURY;
}

.couple-block__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.couple-block__time > div:not(:last-child) {
  margin-right: 70px;
}

.couple-block__time-column {
  text-align: center;
}

.couple-block__number {
  font-size: 40px;
  line-height: 125%;
  font-weight: 400;
  color: #ffffff;
}

.couple-block__data {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
}

.about {
  position: relative;
  z-index: 4;
}

.about__bg {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  width: 22%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__header {
  margin-bottom: 90px;
}

.about__creators-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__creator-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #eefcff;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 45px;
  padding-right: 45px;
}

.about__creator-name {
  font-size: 30px;
  line-height: 133.3333333333%;
  font-weight: 400;
  color: #05a893;
  display: inline-block;
  position: relative;
  font-family: "Sail", cursive;
  margin: 0px 0px 20px 0px;
}

.about__creator-name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 2px;
  background-color: #05a893;
  width: 48px;
  display: block;
}

.about__creator-bio {
  margin: 0px 0px 20px 0px;
  color: #666666;
}

.about__creator-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__creator-socials > li:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.about__social-link {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  color: #1d1d1d;
  font-size: 16px;
}

.about__creator-pic {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__creator-pic picture {
  height: 100%;
  width: 100%;
}

.about__creator-pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 150px;
}

.gallery {
  background-color: #f5fdff;
}

.gallery__header {
  margin-bottom: 80px;
}

.gallery__all-photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.gallery__all-photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__big-photo {
  position: relative;
  padding: 0px 0px 34.9350649351% 0px;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.gallery__big-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery__heightphoto {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.wedding-story {
  position: relative;
  z-index: 4;
}

.wedding-story__bg {
  position: absolute;
  z-index: 2;
  opacity: 0.4;
  width: 10%;
}

.wedding-story__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wedding-story__bg.first {
  right: 0;
  top: 10%;
}

.wedding-story__bg.second {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wedding-story__header {
  margin-bottom: 140px;
}

.wedding-story__all-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wedding-story__all-stories > div:not(:last-child) {
  margin-bottom: 150px;
}

.wedding-story__story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wedding-story__story-picture {
  position: relative;
  padding: 0px 0px 40% 0px;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.2468619247%;
          flex: 0 1 39.2468619247%;
}

.wedding-story__story-picture img.main {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 100%;
}

.wedding-story__story-decor {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 128%;
  height: 128%;
  -webkit-transform: translate(-10.5%, -10.5%);
      -ms-transform: translate(-10.5%, -10.5%);
          transform: translate(-10.5%, -10.5%);
}

.wedding-story__story-decor img {
  width: 100%;
  height: 100%;
}

.wedding-story__story-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.3640167364%;
          flex: 0 1 47.3640167364%;
}

.info-story__date {
  position: relative;
  display: inline-block;
  color: #5f5f5f;
  margin: 0px 0px 10px 0px;
}

.info-story__date::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 26px;
  background-color: #1d1d1d;
  left: 110%;
  height: 2px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.info-story__title {
  font-family: "Sail", cursive;
  font-size: 30px;
  line-height: 133.3333333333%;
  font-weight: 400;
  color: #05a893;
  margin: 0px 0px 20px 0px;
}

.info-story__text {
  margin: 0px 0px 20px 0px;
  color: #7d7d7d;
}

.info-story__link a {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #05a893;
}

.workers {
  background-color: #f5fdff;
}

.workers__header {
  margin-bottom: 60px;
}

.workers__professions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 40px 0px;
}

.workers__profession {
  font-family: "Sail", cursive;
  font-size: 30px;
  line-height: 26px;
  font-weight: 400;
  color: #5d5d5d;
}

.workers__all-workers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.workers__worker {
  cursor: pointer;
  position: relative;
  padding: 0px 0px 101.1111111111% 0px;
}

.workers__worker-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.workers__worker-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.workers__worker-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 4;
  justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  visibility: hidden;
  background-color: #05a893;
  pointer-events: none;
}

.workers__worker-info.active {
  opacity: 1;
  visibility: visible;
}

.workers__worker-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.workers__worker-role {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
}

.workers__worker-role::before,
.workers__worker-role::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  height: 2px;
  background-color: white;
  width: 26px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.workers__worker-role::before {
  left: -30px;
}

.workers__worker-role::after {
  right: -30px;
}

.workers__mobile-toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 5;
}

.workers__mobile-toggle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ceremonies__header {
  margin-bottom: 38px;
}

.ceremonies__all-cermonies {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.ceremonies__ceremony {
  padding: 40px;
}

.ceremony {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ceremony__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  color: #05a893;
  margin: 0px 0px 20px 0px;
}

.ceremony__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #636363;
}

.ceremony__info-text {
  color: #636363;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.ceremony__link {
  font-size: inherit;
  color: inherit;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.invitation {
  position: relative;
  z-index: 4;
  background-color: #a3a3a3;
}

.invitation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 4;
}

.invitation__form-block {
  background-color: #ffffff;
  padding: 100px;
  position: relative;
  z-index: 5;
}

.invitation__header {
  margin-bottom: 60px;
}

.invitation__bg {
  position: absolute;
  height: 100%;
  bottom: 0;
}

.invitation__bg.left {
  width: 396px;
  left: 15px;
}

.invitation__bg.right {
  width: 384px;
  left: 86%;
}

.invitation__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body._mobile .workers__mobile-toggle {
  display: block;
}

body._mobile .workers__worker-info {
  pointer-events: all;
}

@media (max-width: 1195px) {
  .text {
    font-size: calc(14px + 4 * ((100vw - 320px) / (875)));
  }

  .block-header__title {
    font-size: calc(30px + 18 * ((100vw - 320px) / (875)));
  }

  .page__mainslider {
    margin-bottom: calc(20px + 70 * ((100vw - 320px) / (875)));
  }

  .page__about {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / (875)));
  }

  .page__gallery {
    padding-top: calc(40px + 50 * ((100vw - 320px) / (875)));
  }

  .page__gallery {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / (875)));
  }

  .page__story {
    padding-top: calc(40px + 60 * ((100vw - 320px) / (875)));
  }

  .page__story {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / (875)));
  }

  .page__workers {
    padding-top: calc(40px + 45 * ((100vw - 320px) / (875)));
  }

  .page__workers {
    padding-bottom: calc(40px + 45 * ((100vw - 320px) / (875)));
  }

  .page__ceremonies {
    padding-top: calc(40px + 55 * ((100vw - 320px) / (875)));
  }

  .page__ceremonies {
    padding-bottom: calc(40px + 55 * ((100vw - 320px) / (875)));
  }

  .slide-mainslider__social-menu {
    padding-top: calc(20px + 20 * ((100vw - 320px) / (875)));
  }

  .slide-mainslider__social-menu {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / (875)));
  }

  .couple-block__top {
    padding-top: calc(30px + 40 * ((100vw - 320px) / (875)));
  }

  .couple-block__top {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / (875)));
  }

  .couple-block__title {
    font-size: calc(25px + 41 * ((100vw - 320px) / (875)));
  }

  .couple-block__subtitle {
    font-size: calc(16px + 9 * ((100vw - 320px) / (875)));
  }

  .couple-block__subtitle {
    margin-bottom: calc(20px + 35 * ((100vw - 320px) / (875)));
  }

  .couple-block__place {
    font-size: calc(22px + 8 * ((100vw - 320px) / (875)));
  }

  .couple-block__address {
    font-size: calc(14px + 4 * ((100vw - 320px) / (875)));
  }

  .couple-block__bottom-title {
    font-size: calc(22px + 8 * ((100vw - 320px) / (875)));
  }

  .couple-block__time > div:not(:last-child) {
    margin-right: calc(20px + 50 * ((100vw - 320px) / (875)));
  }

  .couple-block__number {
    font-size: calc(30px + 10 * ((100vw - 320px) / (875)));
  }

  .about__header {
    margin-bottom: calc(20px + 70 * ((100vw - 320px) / (875)));
  }

  .about__creator-info {
    padding-top: calc(20px + 42 * ((100vw - 320px) / (875)));
  }

  .about__creator-info {
    padding-bottom: calc(20px + 42 * ((100vw - 320px) / (875)));
  }

  .about__creator-info {
    padding-left: calc(15px + 30 * ((100vw - 320px) / (875)));
  }

  .about__creator-info {
    padding-right: calc(15px + 30 * ((100vw - 320px) / (875)));
  }

  .about__creator-name {
    font-size: calc(25px + 5 * ((100vw - 320px) / (875)));
  }

  .gallery__header {
    margin-bottom: calc(20px + 60 * ((100vw - 320px) / (875)));
  }

  .wedding-story__header {
    margin-bottom: calc(60px + 80 * ((100vw - 320px) / (875)));
  }

  .wedding-story__all-stories > div:not(:last-child) {
    margin-bottom: calc(50px + 100 * ((100vw - 320px) / (875)));
  }

  .info-story__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / (875)));
  }

  .workers__header {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / (875)));
  }

  .ceremonies__header {
    margin-bottom: calc(20px + 18 * ((100vw - 320px) / (875)));
  }

  .ceremonies__ceremony {
    padding: calc(20px + 20 * ((100vw - 320px) / (875)));
  }

  .invitation__form-block {
    padding: calc(20px + 80 * ((100vw - 320px) / (875)));
  }

  .invitation__header {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / (875)));
  }
}

@media (max-width: 1100px) {
  .mainslider__arrows {
    width: 130px;
    left: 3%;
  }

  .mainslider__arrow {
    background-color: green;
    height: 60px;
  }

  .slide-mainslider__couple-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
  }
}

@media (max-width: 800px) {
  .slide-mainslider__content {
    padding: 0px 5px 0px 10%;
  }

  .about__creator-name::before {
    left: 0%;
    top: 110%;
  }

  .workers__all-workers {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .ceremonies__all-cermonies {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 780px) {
  .mainslider__slider {
    max-height: 640px;
    height: 640px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 60px 0px 0px 0px;
  }
}

@media (max-width: 700px) {
  .slide-mainslider__social-menu {
    padding: 0px 5px 0px 5px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slide-mainslider__link {
    width: 38px;
    height: 38px;
  }

  .couple-block__bottom {
    padding: 15px 10px 15px 10px;
  }
}

@media (max-width: 700px) and (max-width: 1195px) {
  .slide-mainslider__social-menu {
    padding-top: calc(20px + 20 * ((100vw - 320px) / (875)));
  }

  .slide-mainslider__social-menu {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / (875)));
  }
}

@media (max-width: 650px) {
  .wedding-story__story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .wedding-story__story-picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0px 0px 70% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .wedding-story__story-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 40px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .about__creators-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 10px 0px;
  }

  .about__creator-pic {
    padding: 0px 0px 50% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .gallery__all-photos {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
  }

  .gallery__big-photo {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }

  .gallery__small-photo.adapt {
    position: relative;
    padding: 0px 0px 30% 0px;
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }

  .gallery__small-photo.adapt img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .gallery__heightphoto {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
  }
}

@media (max-width: 500px) {
  .mainslider__arrows {
    width: 60px;
    left: 0%;
  }

  .mainslider__arrow {
    height: 30px;
  }

  .mainslider__arrow::before {
    font-size: 15px;
  }
}

@media (any-hover: hover) {
  .mainslider__arrow:hover {
    background-color: #2acfb9;
  }

  .slide-mainslider__link:hover {
    background-color: #ffffff;
  }

  .slide-mainslider__link:hover::before {
    color: #05a893;
  }

  .couple-block__address:hover {
    text-decoration: underline;
  }

  .about__social-link:hover {
    color: orangered;
  }

  .info-story__link a:hover {
    color: #2ef3d9;
  }

  .workers__worker:hover .workers__worker-info {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .workers__worker-name:hover {
    text-decoration: underline;
  }

  .ceremony:hover {
    background-color: #05a893;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(134, 134, 134, 0.23);
            box-shadow: 0px 1px 6px 0px rgba(134, 134, 134, 0.23);
  }

  .ceremony:hover .ceremony__title,
  .ceremony:hover .ceremony__info-block,
  .ceremony:hover .ceremony__info-text,
  .ceremony:hover .ceremony__link {
    color: white;
  }

  .ceremony__link:hover {
    text-decoration: underline;
    color: #746b6b;
  }
}